body{
  margin: 0;
  text-align: left;
}

h1{
  margin-top: 0;
  font-family: 'Lobster', cursive;
  font-size: 562%;
  padding: 20px;
  top: 50%;
  bottom: 50%;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
  font-family: 'Permanent Marker';
}

hr{
  border-color: #7C99AC;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro{
  padding-left: 25%;
  padding-right: 25%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-container{
  background-color: #D3DEDC;
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}

.skill-row{
  padding-top: 100px;
  padding-bottom: 100px;
}

.profile{
  padding-top: 200px;
  padding-bottom: 200px;
}

.codeicon{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linkedin{
  padding: 20px;
}

.github{
  padding: 20px;
}

.btn{
  padding: 20px;
}


.bottom-container{
text-align: center;
background-color: #D3DEDC;
position: relative;
padding-top: 30px;
padding-bottom: 30px;
}
